/src/main/resources/credentials.json
/tokens/
/.idea/

*.DS_Store
node_modules
npm-debug.log
yarn.lock
.tags*
.ensime*

*.sublime-workspace
*.vscode
*.idea

_tmp

null/
.bsp/

import/build
project/project/
project/target/
target/
conf/version.conf
.settings

*local.conf
!zen-local.conf
*version.conf
*.log
.project

/.bsp/